body{
    background-color: #2196F3;
}
.label-blue{
    color: blue;
text-align: right;
}
th{

    text-align: center;
    background-color: red;
    color: white;
}
form{
    width: 600px;
    background-color:white;
}
table{
    width: 600px;
}
label{
    margin-left: 10px;
}
td{
    color: orange;
    width:120px;

}
input[type='checkbox']{
    margin-left: 10px;
}
